<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">&ndash;&gt;-->
    <!--&lt;!&ndash;<head>&ndash;&gt;-->
        <!--&lt;!&ndash;<title>Spring Security Example</title>&ndash;&gt;-->
    <!--&lt;!&ndash;</head>&ndash;&gt;-->
    <!--&lt;!&ndash;<body>&ndash;&gt;-->
        <!--&lt;!&ndash;<h1>Welcome!</h1>&ndash;&gt;-->

         <!--&lt;!&ndash;<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>&ndash;&gt;-->
         <!--&lt;!&ndash;<p sec:authorize="hasAnyAuthority('ROLE_USER')">Pour tous les USER</p>&ndash;&gt;-->
          <!--&lt;!&ndash;<p sec:authorize="hasAuthority('ADMIN')">Pour les ADMIN</p>&ndash;&gt;-->
             <!--&lt;!&ndash;<p sec:authorize="isAuthenticated()">Pour tous les utilisateurs </p>&ndash;&gt;-->
    <!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->

<!--<!DOCTYPE html>-->
<!--<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">-->

<!--<head>-->

    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->

    <!--<title>Confirm</title>-->

    <!--<link rel="stylesheet" href="/vendor/datatables/dataTables.bootstrap4.css"-->
          <!--th:href="@{/vendor/datatables/css/dataTables.bootstrap4.css}"/>-->
    <!--&lt;!&ndash; Custom fonts for this template&ndash;&gt;-->
    <!--&lt;!&ndash;<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">&ndash;&gt;-->

    <!--<link rel="stylesheet" href="/vendor/fontawesome-free/css/all.min.css"-->
          <!--th:href="@{/vendor/fontawesome-free/css/all.min.css}"/>-->

    <!--&lt;!&ndash; Custom styles for this template&ndash;&gt;-->
    <!--&lt;!&ndash;<link href="css/sb-admin.css" rel="stylesheet">&ndash;&gt;-->
    <!--<link rel="stylesheet" href="/css/sb-admin.css"-->
          <!--th:href="@{/css/sb-admin.css}"/>-->

<!--</head>-->

<!--<body class="bg-dark">-->
<!--<script>-->
    <!--$(document).ready(function() {-->
        <!--$('#passwordForm').formValidation({-->
            <!--framework: 'bootstrap',-->
            <!--icon: {-->
                <!--valid: 'glyphicon glyphicon-ok',-->
                <!--invalid: 'glyphicon glyphicon-remove',-->
                <!--validating: 'glyphicon glyphicon-refresh'-->
            <!--},-->
            <!--fields: {-->

                <!--password: {-->
                    <!--validators: {-->
                        <!--notEmpty: {-->
                            <!--message: 'The password is required'-->
                        <!--},-->
                        <!--callback: {-->
                            <!--callback: function(value, validator, $field) {-->
                                <!--var password = $field.val();-->
                                <!--if (password == '') {-->
                                    <!--return true;-->
                                <!--}-->

                                <!--var result  = zxcvbn(password),-->
                                    <!--score   = result.score,-->
                                    <!--message = result.feedback.warning || 'The password is weak';-->

                                <!--// Update the progress bar width and add alert class-->
                                <!--var $bar = $('#strengthBar');-->
                                <!--switch (score) {-->
                                    <!--case 0:-->
                                        <!--$bar.attr('class', 'progress-bar progress-bar-danger')-->
                                            <!--.css('width', '1%');-->
                                        <!--break;-->
                                    <!--case 1:-->
                                        <!--$bar.attr('class', 'progress-bar progress-bar-danger')-->
                                            <!--.css('width', '25%');-->
                                        <!--break;-->
                                    <!--case 2:-->
                                        <!--$bar.attr('class', 'progress-bar progress-bar-danger')-->
                                            <!--.css('width', '50%');-->
                                        <!--break;-->
                                    <!--case 3:-->
                                        <!--$bar.attr('class', 'progress-bar progress-bar-warning')-->
                                            <!--.css('width', '75%');-->
                                        <!--break;-->
                                    <!--case 4:-->
                                        <!--$bar.attr('class', 'progress-bar progress-bar-success')-->
                                            <!--.css('width', '100%');-->
                                        <!--break;-->
                                <!--}-->

                                <!--// We will treat the password as an invalid one if the score is less than 3-->
                                <!--if (score < 3) {-->
                                    <!--return {-->
                                        <!--valid: false,-->
                                        <!--message: message-->
                                    <!--}-->
                                <!--}-->

                                <!--return true;-->
                            <!--}-->
                        <!--}-->
                    <!--}-->
                <!--}-->
            <!--}-->
        <!--});-->
    <!--});-->
<!--</script>-->

<!--<div class="container">-->
    <!--<div class="card card-register mx-auto mt-5">-->
        <!--<div class="card-header">Confirm mdp</div>-->
        <!--<div class="card-body">-->
            <!--&lt;!&ndash;les messages&ndash;&gt;-->
            <!--<div th:if="${successMessage}" class="alert alert-success"-->
                 <!--role="alert" th:text=${successMessage}></div>-->

            <!--<div th:if="${errorMessage}" class="alert alert-danger"-->
                 <!--role="alert" th:text=${errorMessage}></div>-->

            <!--<div th:if="${invalidToken}" class="alert alert-danger"-->
                 <!--role="alert" th:text=$"{invalidToken}"></div>-->

            <!--<form action="#" th:action="@{/confirm}" th:object="${setPassword}" method="post" role="form" id="passwordForm">-->

                <!--<input type="hidden" name="token" th:value="${confirmationToken}" />-->

                <!--<div class="form-group input-group">-->
          <!--<span class="input-group-addon">-->
            <!--<span class="glyphicon glyphicon-lock"></span>-->
          <!--</span>-->
                    <!--<input name="password" type="password" id="password"-->
                           <!--placeholder="Password" class="form-control" required />-->
                    <!--<span class="glyphicon"-->
                          <!--aria-hidden="true"></span>-->
                <!--</div>-->

                <!--<div class="form-group input-group has-feedback">-->
          <!--<span class="input-group-addon">-->
            <!--<span class="glyphicon glyphicon-lock"></span>-->
          <!--</span>-->
                    <!--<input type="password" class="form-control" id="signup-password-confirm" placeholder="Confirm Password" name="ConfirmPassword" data-fv-notempty="true"-->
                           <!--data-fv-notempty-message="Please confirm password"-->
                           <!--data-fv-identical="true"-->
                           <!--data-fv-identical-field="password"-->
                           <!--data-fv-identical-message="Both passwords must be identical" />-->

                    <!--<div class="help-block with-errors"></div>-->
                <!--</div>-->



                <!--<button type="submit"-->
                        <!--class="btn btn-primary block full-width m-b">Save-->
                <!--</button>-->
            <!--</form>-->
            <!--<div class="text-center">-->
                <!--<a class="d-block small mt-3" href="#" th:href="@{/user/login}">Login Page</a>-->
                <!--<a class="d-block small" href="#" th:href="@{/user/oublie}">Forgot Password?</a>-->
                <!--<a class="dropdown-item" href="#" th:href="@{/user/oublie}">Mot de passe oublié?</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Bootstrap core JavaScript&ndash;&gt;-->
<!--&lt;!&ndash;<script src="vendor/jquery/jquery.min.js"></script>&ndash;&gt;-->
<!--<script src="/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>-->
<!--&lt;!&ndash;<script src="vendor/jquery/jquery.min.js"></script>&ndash;&gt;-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
<!--&lt;!&ndash;<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>&ndash;&gt;-->

<!--<script src="vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>-->

<!--&lt;!&ndash; Core plugin JavaScript&ndash;&gt;-->
<!--&lt;!&ndash;<script src="vendor/jquery-easing/jquery.easing.min.js"></script>&ndash;&gt;-->

<!--</body>-->

<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Amir Boroumand" />
    <link rel="icon" href="favicon.ico" />

    <title>User Registration with Spring Boot</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />

    <!--<link th:href="@{css/style.css}" rel="stylesheet" />-->
    <link th:href="@{css/fv.css}" rel="stylesheet" />
</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>

        <hr />
        <h4>Set Your Password</h4>

        <div th:if="${successMessage}" class="alert alert-success"
             role="alert" th:text=${successMessage}></div>

        <div th:if="${errorMessage}" class="alert alert-danger"
             role="alert" th:text=${errorMessage}></div>

        <div th:if="${invalidToken}" class="alert alert-danger"
             role="alert" th:text=${invalidToken}></div>

        <form th:if="!${invalidToken}" class="m-t" id="passwordForm" role="form" action="#"
              th:object="${setPassword}" th:action="@{/confirm}" method="post">

            <input type="hidden" name="token" th:value="${confirmationToken}" />

            <div class="form-group input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
                <input name="password" type="password" id="password"
                       placeholder="Password" class="form-control" required />
                <span class="glyphicon"
                      aria-hidden="true"></span>
            </div>

            <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
                <input type="password" class="form-control" id="signup-password-confirm" placeholder="Confirm Password" name="ConfirmPassword" data-fv-notempty="true"
                       data-fv-notempty-message="Please confirm password"
                       data-fv-identical="true"
                       data-fv-identical-field="password"
                       data-fv-identical-message="Both passwords must be identical" />

                <div class="help-block with-errors"></div>
            </div>



            <button type="submit"
                    class="btn btn-primary block full-width m-b">Save
            </button>
            <a class="d-block small mt-3" href="#" th:href="@{/login}">Login Page</a>

        </form>


    </div>
</div>

<!-- jQuery-->
<script
        src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap -->
<script
        src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- Bootstrap Validator plugin -->
<script
        src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>

<script th:src="@{js/fv.min.js}"></script>
<script>
    $(document).ready(function() {
        $('#passwordForm').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {

                password: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required'
                        },
                        callback: {
                            callback: function(value, validator, $field) {
                                var password = $field.val();
                                if (password == '') {
                                    return true;
                                }

                                var result  = zxcvbn(password),
                                    score   = result.score,
                                    message = result.feedback.warning || 'The password is weak';

                                // Update the progress bar width and add alert class
                                var $bar = $('#strengthBar');
                                switch (score) {
                                    case 0:
                                        $bar.attr('class', 'progress-bar progress-bar-danger')
                                            .css('width', '1%');
                                        break;
                                    case 1:
                                        $bar.attr('class', 'progress-bar progress-bar-danger')
                                            .css('width', '25%');
                                        break;
                                    case 2:
                                        $bar.attr('class', 'progress-bar progress-bar-danger')
                                            .css('width', '50%');
                                        break;
                                    case 3:
                                        $bar.attr('class', 'progress-bar progress-bar-warning')
                                            .css('width', '75%');
                                        break;
                                    case 4:
                                        $bar.attr('class', 'progress-bar progress-bar-success')
                                            .css('width', '100%');
                                        break;
                                }

                                // We will treat the password as an invalid one if the score is less than 3
                                if (score < 3) {
                                    return {
                                        valid: false,
                                        message: message
                                    }
                                }

                                return true;
                            }
                        }
                    }
                }
            }
        });
    });
</script>
});
</script>

</body>
</html>